  
<!-- Footer Section Start Here -->
<footer id="footer">
  <section class="footer-section">
    <div class="container">
      <div class="col-xs-12">
        <div class="footer-logo wow bounceInDown" data-wow-duration="1s" data-wow-delay="0s">
          <h1> <img src="{{ paths.theme }}assets/img/logo-footer.png" alt="fitness"></h1>
        </div>
        <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. </p>
        <p class="blue">Copyright &copy; Fitness Gym 2015. All rights reserved. Created by DesignArc</p>
        <div class="footer-social"> <span class="icon-box"><i class="fa fa-facebook"></i></span> <span class="icon-box"><i class="fa fa-twitter"></i></span> <span class="icon-box"><i class="fa fa-google-plus"></i></span> <span class="icon-box"><i class="fa fa-linkedin"></i></span> </div>
      </div>
    </div>
  </section>
</footer>
<!-- End footer --> 

<script src="{{ paths.theme }}assets/js/jquery.min.js"></script> 
<script src="{{ paths.theme }}assets/js/bootstrap.min.js"></script> 
<script src="{{ paths.theme }}assets/js/owl.carousel.min.js"></script> 
<script src="{{ paths.theme }}assets/js/site.js"></script> 
<script src="{{ paths.theme }}assets/js/wow.min.js"></script> 
<!--validation form--> 
<script src="{{ paths.theme }}assets/js/jquery.form.js"></script> 
<script src="{{ paths.theme }}assets/js/jquery.validate.min.js"></script> 
<!--end validation form--> 

<!--Map js --> 
<script src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="{{ paths.theme }}assets/js/jquery.mapmarker.js"></script>
</body>
</html>
