<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!-- Responsive Meta Tag -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fitness Gym</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<!-- Bootstrap -->
<link href="{{ paths.theme }}assets/css/bootstrap.min.css" rel="stylesheet">
<!-- Main CSS -->
<link href="{{ paths.theme }}assets/css/main.css" rel="stylesheet">
<!-- responsive stylesheet -->
<link rel="stylesheet" href="{{ paths.theme }}assets/css/responsive.css">
</head>

<body>
<!-- preloader -->
<div class="preloader"></div>
<div id="wrapper"> 
  <!--Header Section Start Here -->
  <header class="hero-section" >
    <div class="navbar navbar-static-top" id="nav">
      <div class="container">
        <div class="navbar-header" >
          <button aria-expanded="false" aria-controls="bs-navbar" data-target="#bs-navbar" data-toggle="collapse" type="button" class="navbar-toggle collapsed"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand animated bounce col-xs-9" href="#"><img src="{{ paths.theme }}assets/img/logo" alt="Fitness"></a> </div>
        <nav class="collapse navbar-collapse pull-right" id="bs-navbar">
          <ul class="nav navbar-nav">
            <li> <a href="#"> home </a> </li>
            <li> <a href="#about-us"> about us </a></li>
            <li> <a href="#our-classes"> our classes </a></li>
            <li> <a href="#our-coaches"> Our coaches </a></li>
            <li> <a href="#blog"> Blog </a></li>
            <li> <a href="#contact-us"> Contact us </a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- banner section Start Here -->
    <section id="about" class="banner-section">
      <div class="container">
        <div class="col-md-5 col-sm-12 dest-detail wow bounceInLeft" data-wow-duration=".5s" data-wow-delay="0s"> <span class="revolutionary blue">Revelutionary gym</span>
          <div class="titles">
            <h1>The Best Fitness</h1>
            <span class="grow">grow your Strenght</span> </div>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudant pium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
          <a href="about-us.html" target="_blank" class="btn btn-outline hvr-sweep-to-right">become a member</a> </div>
        <div class="col-md-7 col-sm-12 hidden-xs wow bounceInRight" data-wow-duration="1s" data-wow-delay="0s" > <img src="{{ paths.theme }}assets/img/banner-girl.png" alt=""> </div>
      </div>
    </section>
    <!-- banner section End Here --> 
  </header>
  <!-- Header Section End Here --> 
  
