{% include '_header.twig' %}
  
  <!-- Main Section Start Here -->
  <div id="main"> 
    <!-- About Us Section Start Here-->
    <section id="about-us" class="about-section">
      <div class="container">
        <header class="page-header section-header">
          <h2>fitness and health </h2>
          <span class="sm-title">A place for your fitness goal</span> </header>
        <div class="row classes-list">
          <div class="col-md-8 col-xs-12 item ">
            <blockquote>
              <h4> Typesetting, remaining essentially unchanged it’s was popularised </h4>
              <p>With the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p>
              <p> We approach our projects with strategic and creative thinking. We partner with our clients to create big ideas and digital experiences. And we spend each day doing so by sharpening the tools of the digital trade.</p>
            </blockquote>
            <a class="btn outline hvr-sweep-to-right" href="#">Start Your Trainging Today</a> </div>
          <div class="col-md-4 hidden-xs item "> <img src="{{ paths.theme }}assets/img/section-2.jpg" alt=""></div>
        </div>
      </div>
    </section>
    <!-- About Us Section End Here--> 
    <!-- Our Classes Section Start Here-->
    <section id="our-classes" class="our-classes-section">
      <div class="container">
        <header class="page-header section-header">
          <h2>OUr features classes</h2>
          <span class="sm-title">checkout our fitness classes</span> </header>
        <div class="row classes-list">
          <div class="col-md-3 col-xs-12 col-sm-6">
            <div class="item wow zoomIn hvr-sweep-to-top" data-wow-duration=".5s" data-wow-delay="0s"><span class="icon-box"> <i class="weight-icon heavy"></i> </span>
              <h4> heavy weight classes </h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium dolorem que launtium, totam rem.</p>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="item wow zoomIn hvr-sweep-to-top" data-wow-duration=".1s" data-wow-delay="0s"> <span class="icon-box"> <i class="weight-icon indoor "></i> </span>
              <h4> indoor cycling classes </h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium dolorem que launtium, totam rem.</p>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="item wow zoomIn hvr-sweep-to-top" data-wow-duration="1.5s" data-wow-delay="0s"><span class="icon-box"> <i class="weight-icon body"></i> </span>
              <h4> Body building <br>
                classes </h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium dolorem que launtium, totam rem.</p>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="item wow zoomIn hvr-sweep-to-top" data-wow-duration="2s" data-wow-delay="0s"> <span class="icon-box"> <i class="weight-icon weightloss"></i> </span>
              <h4> weightloss <br>
                classes </h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium dolorem que launtium, totam rem.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Our Classes Section End Here--> 
    
    <!-- Fitness Classes Us Section Start Here-->
    <section class="fitness-classes-section">
      <div class="container">
        <div class="col-md-6 pull-left hidden-xs"> <img src="{{ paths.theme }}assets/img/fitness-class.png" alt=""> </div>
        <div class="col-md-6 col-xs-12">
          <h2><strong>fitness CLASSES THIS SUMMER.</strong> PAY NOW AND GET <strong class="red">25% </strong> DISCOUNT</h2>
          <p>voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia conseur magni dolores eos.</p>
          <a class="btn hvr-bounce-to-right">become a member</a> </div>
      </div>
    </section>
    <!--fitness CLASSES Section end Here--> 
    <!-- Our coaches Section Start Here-->
    <section id="our-coaches" class="our-coaches-section">
      <div class="container">
        <header class="page-header section-header">
          <h2>our fitness coaches</h2>
          <span class="sm-title">best members of coaches</span> </header>
        <div class="row coaches-list" id="fitness-coach">
          <div class="item wow bounceInLeft" data-wow-duration="1s" data-wow-delay="0s">
            <div class="profile-info col-lg-5 col-sm-5"> <img src="{{ paths.theme }}assets/img/coaches1.jpg" alt=""> </div>
            <div class="content col-lg-7 col-sm-7">
              <h5>Merry Anderson</h5>
              <span class="designation ">Female fitness coach</span>
              <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, conse ctetur, adipisci velit sed quia non.</p>
              <div class="social"><i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i><i class="fa fa-google-plus"></i><i class="fa fa-linkedin"></i><i class="fa fa-pinterest"></i><i class="fa fa-dribbble"></i></div>
            </div>
          </div>
          <div class="item wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0s">
            <div class="profile-info col-lg-5 col-sm-5"> <img src="{{ paths.theme }}assets/img/coaches2.jpg" alt=""> </div>
            <div class="content col-lg-7 col-sm-7">
              <h5>Joseph Joe</h5>
              <span class="designation ">Male fitness coach</span>
              <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, conse ctetur, adipisci velit sed quia non.</p>
              <div class="social"><i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i><i class="fa fa-google-plus"></i><i class="fa fa-linkedin"></i><i class="fa fa-pinterest"></i><i class="fa fa-dribbble"></i></div>
            </div>
          </div>
          <div class="item wow bounceInLeft" data-wow-duration="3s" data-wow-delay="0s">
            <div class="profile-info col-lg-5 col-sm-5"> <img src="{{ paths.theme }}assets/img/coaches1.jpg" alt=""> </div>
            <div class="content col-lg-7 col-sm-7">
              <h5>Merry Anderson</h5>
              <span class="designation ">Female fitness coach</span>
              <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, conse ctetur, adipisci velit sed quia non.</p>
              <div class="social"><i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i><i class="fa fa-google-plus"></i><i class="fa fa-linkedin"></i><i class="fa fa-pinterest"></i><i class="fa fa-dribbble"></i></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Our coaches Section End Here--> 
    <!-- Blog Section Start Here-->
    <section id="blog" class="blog-section">
      <div class="container">
        <header class="page-header section-header">
          <h2>Latest tips and news </h2>
          <span class="sm-title">Some Tips for your business</span> </header>
        <div class="row blog-list">
          <div class="col-md-3 col-xs-12 col-sm-6 text-center hvr-grow item wow zoomIn" data-wow-duration=".5s" data-wow-delay="0s">
            <figure><img src="{{ paths.theme }}assets/img/news1.jpg" alt=""><span class="date"> 20
              May</span></figure>
            <h5> Title goes here </h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant ium dolore launtium ...</p>
            <a href="#" class="read-more">Read more >> </a> </div>
          <div class="col-md-3 col-xs-12 col-sm-6 text-center hvr-grow item wow zoomIn" data-wow-duration="1s" data-wow-delay="0s">
            <figure><img src="{{ paths.theme }}assets/img/news2.jpg" alt=""><span class="date"> 20
              May</span></figure>
            <h5> Title goes here </h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant ium dolore launtium ...</p>
            <a href="#" class="read-more">Read more >> </a> </div>
          <div class="col-md-3 col-xs-12 col-sm-6 text-center hvr-grow item wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0s">
            <figure><img src="{{ paths.theme }}assets/img/news3.jpg" alt=""><span class="date"> 20
              May</span></figure>
            <h5> Title goes here </h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant ium dolore launtium ...</p>
            <a href="#" class="read-more">Read more >> </a> </div>
          <div class="col-md-3 col-xs-12 col-sm-6 text-center hvr-grow item wow zoomIn" data-wow-duration="2s" data-wow-delay="0s">
            <figure><img src="{{ paths.theme }}assets/img/news4.jpg" alt=""><span class="date"> 20
              May</span></figure>
            <h5> Title goes here </h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant ium dolore launtium ...</p>
            <a href="#" class="read-more">Read more >> </a> </div>
        </div>
      </div>
    </section>
    <!-- Blog Section End Here--> 
    <!-- People Says Section Start Here-->
    <section class="people-says-section">
      <div class="container">
        <header class="page-header section-header">
          <h2>What People says</h2>
          <span class="sm-title">latest testimonila from our students</span> </header>
        <div class="reviewer-list" id="reviewer">
          <div class="items zoom col-xs-12 col-sm-12 col-md-6 ">
            <div class="img-circle photo-frame"> <img draggable="false" src="{{ paths.theme }}assets/img/testmonial1.jpg" alt="" class="img-circle"> </div>
            <blockquote>
              <p> <i class="fa fa-quote-left quote-mark"></i> &nbsp;We had a wonderful honeymoon in thailand with Journey2thailand, Everything was very well organized.</p>
            </blockquote>
            <footer><span class="pull-right"> - Renuka Gautam </span></footer>
          </div>
          <div class="items zoom col-xs-12 col-sm-12 col-md-6 ">
            <div class="img-circle photo-frame"> <img draggable="false" src="{{ paths.theme }}assets/img/testmonial2.jpg" alt="" class="img-circle"> </div>
            <blockquote>
              <p> <i class="fa fa-quote-left quote-mark"></i> &nbsp;I have already experienced their services twice. They are very helpful and understand customers need.</p>
            </blockquote>
            <footer><span class="pull-right"> - Rakhi Verma </span></footer>
          </div>
        </div>
      </div>
    </section>
    <!-- People Says Section End Here--> 
    <!-- Training Studio Section Start Here-->
    <section class="training-studio-section">
      <div class="container">
        <div class="row training-list">
          <div class="col-md-6 col-xs-12 item wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0s">
            <h2> fitness traning studio </h2>
            <span class="sm-title">elements of athletic-based group training</span>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque launtium, Sed ut perspiciatis unde omnis iste natus error sit 
              ueed ut perspiciatis unde omnis iste natus error sit vtotam.</p>
            <ul>
              <li><i class="fa fa-chevron-circle-right"></i>Dynamic Wram - Up</li>
              <li><i class="fa fa-chevron-circle-right"></i>Speed, Agility &amp; Conditioning</li>
              <li><i class="fa fa-chevron-circle-right"></i>Strength Training</li>
              <li><i class="fa fa-chevron-circle-right"></i>Core &amp; flexibility</li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12 hidden-xs item wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s"> <img src="{{ paths.theme }}assets/img/video.jpg" alt=""></div>
        </div>
      </div>
    </section>
    <!-- Training Studio Section End Here--> 
    <!-- Subscribe Section Start Here-->
    <section class="subscribe-section">
      <div class="container">
        <div class="row classes-list">
          <div class="col-md-8 col-xs-12">
            <h2> sign up for emails and </h2>
            <span class="sm-title">get in on all the action</span>
            <form class="form-inline">
              <div class="form-group col-lg-6 col-xs-12">
                <input type="email" class="form-control" id="email2" placeholder="Enter your email">
              </div>
              <button type="submit" class="btn btn-default black">Submit</button>
            </form>
          </div>
          <div class="col-md-4 hidden-xs"><img src="{{ paths.theme }}assets/img/subscribe-girl.png" alt=""></div>
        </div>
      </div>
    </section>
    <!-- Subscribe Section End Here--> 
    <!-- Contact Section Start Here -->
    <section id="contact-us" class="contact-section">
      <div class="container">
        <header class="page-header section-header">
          <h2>Stay connected</h2>
          <span class="sm-title">We’d love to hear from you! Send a message using the form below</span> </header>
      </div>
      <div class="container form-section">
        <div class="row">
          <div class="form col-md-8 contact-form ">
            <form class="form-horizontal" method="post" id="form" novalidate>
              <div class="form-group">
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                </div>
                <div class="col-sm-5">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-11">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-11 ">
                  <textarea class="form-control custom-control" name="message" rows="3" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-11">
                  <button type="submit" class="btn btn-theme white">send</button>
                </div>
              </div>
            </form>
            <div id="error">something went wrong</div>
            <div id="success">your message is successfully sent...</div>
          </div>
          <div class="contact-detail">
            <ul>
              <li><span class="icon icon-Pointer"></span>
                <div class="address">
                  <p> Matrix, </p>
                  <p> 215, Mallin Street </p>
                  <p> New Youk, NY 100 254 </p>
                </div>
              </li>
              <li><span class="icon icon-Plaine"></span>
                <div class="email">
                  <p> info@matrix.contact.com </p>
                  <p> support@matrix.com </p>
                </div>
              </li>
              <li><span class="icon icon-Phone2"></span>
                <div class="phone">
                  <p> +0120  123 4 56 789 </p>
                  <p> +0120  987 65419 </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section end Here --> 
    
    <!-- Map Section Start Here -->
    <div class="map">
      <div id="map" style="width:100%; height:500px;"> </div>
    </div>
  </div>
  <!-- Map Section Start Here --> 
  <!-- purchase now Start Here -->
  <div class="purchase-now">
    <div class="container">
      <div class="items col-xs-12 col-sm-12 col-md-9 wow bounceInLeft" data-wow-duration="0.5s" data-wow-delay="0s"> <span class="bolder"> Awesome theme that fit for any purpose. </span> Buy this theme.</div>
      <div class="items col-xs-12 col-sm-12 col-md-3 wow bounceInRight" data-wow-duration="1s" data-wow-delay="0s"> <a href="#" class="btn btn-theme buy-now"><span class="icon icon-Goto "> </span>purchase now</a></div>
    </div>
  </div>
  <!-- purchase now end Here --> 
</div>
<!-- Main Section End Here --> 

{% include '_footer.twig' %}

